<div class="comment-container">
  <h4><%= comment.author_name %> said...</h4>
  <p class="posted-date">Posted <%= comment.created_at.strftime("%B %d, %Y") %></p>
  <p class="comment"><%= comment.body %></p>
</div>