<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <% @articles.each do |article| %>
          <div class="post-preview">
            <%= link_to article_path(article) do %>
                <h2 class="post-title">
                  <%= article.title %>
                </h2>
                <h3 class="post-subtitle">
                  <%= article.body %>
                </h3>
            <% end %>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on <%= article.created_at.strftime("%B %d, %Y") %></p>
          </div>
          <hr>
      <% end %>

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>