<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Trzy tygodnie w Tajlandii</h1>
          <hr class="small">
          <span class="subheading">Mini-blog o naszych przygodach :-)</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <table class="table table-hover table-responsive tbl-tags">
        <% @tags.each do |tag| %>
            <tr>
              <td><%= link_to tag.name, tag_path(tag) %></td>
              <% if logged_in? %>
                <td><%= link_to "Edit tag", edit_tag_path(tag), class: "edit-tags" %></td>
                <td><%= link_to "Delete tag", tag_path(tag), class: "edit-tags", method: :delete, data: {confirm: "Really delete this tag?"} %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
      <hr>
    </div>
  </div>
</div>