.top-alert-container{
  position: absolute;
  left: 0;
  width: 100%;
  top: -150px;
  z-index: 4;
  -webkit-transition: top .5s ease-in-out;
  -moz-transition: top .5s ease-in-out;
  -o-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;

  p{
    text-align: center;

    i{
      margin-right: 15px;
    }
  }

  &.enter-view{
    top:0;
  }
}

.intro-header{
  position: relative;

  .container{
    position: relative;

    .edit_link{
      position: relative;
      float: right;
      color: #FFF;
      background: #32244e;
      padding: 15px 25px;
      margin-left: 10px;

      &:hover{
        background: lighten(#32244e, 5%);
        text-decoration: none;
      }
    }

    .tagged-with{
      h1{
        font-size: 55px;
      }
    }
  }
}

.form-style{
  p{
    label{
      font-weight: 600;
    }

    input[type=text],input[type=password],textarea{
      width: 100%;
      padding: 15px;
      border-radius: 4px;
      border: 1px solid #cecece;
    }

    textarea{
      height: 250px;
    }

    input[type=submit]{
      color: #FFF;
      background: #32244e;
      padding: 15px 25px;
      border: none;
      border-radius: 4px;

      &:hover{
        background: lighten(#32244e, 5%);
        text-decoration: none;
      }
    }

    input[type=file]{
      line-height: 20px;
      font-size: 16px;
    }
  }

  .preview{
    img{
      width: 250px;
      border: 15px solid #FFF;
    }
  }
}

article{
  img{
    max-width: 100%;
    width: 100%;
  }

  hr{
    border-color:#232323;
  }

  .comment-title{
    display: inline-block;
  }

  .comment-section{
    margin-top: 50px;

    .comment-container{
      p{
        margin-top: 15px;
        margin-bottom: 0px;

        &.posted-date{
          margin-top: 0;
          color: #929292;
          font-size: 15px;
        }
      }

      margin-bottom: 45px;
    }
  }

  .tags-container{
    a{
      color: #FFF;
      background: #32244e;
      padding: 10px 15px;
      text-decoration: none;
      display: inline-block;
      margin-right: 2px;
      font-size: 16px;

      &:hover{
        background: lighten(#32244e, 5%);
        text-decoration: none;
      }
    }
  }
}

.tbl-tags{
  a{
    text-decoration: underline;

    &.edit-tags{
      color: #5121af;
      text-decoration: none;

      &:hover{
        color: lighten(#5121af, 25%);
        text-decoration: none;
      }
    }
  }
}